---
import Image from "astro/components/Image.astro";
import Img from "/public/Us.jpg";
---

<section
  id="us"
  class="h-full text-center drop-shadow-lg shadow-lg fade md:h-[768px]"
>
  <div class="container-central flex flex-col items-center justify-center py-3">
    <div class="py-16">
      <p class="font-bold text-primary text-sm md:text-lg">¿Quiénes somos?</p>
      <h2 class="font-roboto font-bold text-3xl px-3 text-white md:text-4xl">
        Sobre nosotros
      </h2>
    </div>
    <div class="md:flex-row-reverse md:flex py-4">
    <Image
      src={Img}
      alt="Foto de los creadores de RMG Ciudadanias"
      class="max-w-[320px] m-auto px-2"
    />
    <div class="text-white text-sm md:text-xl max-w-[640px] md:text-left">
      <p class="px-8 md:px-0 py-2 text-white md:my-6">
        <span class="font-semibold">RMG Ciudadanías somos Agustina y Fernando</span>, dos apasionados por ayudar
        a otros a reconectar con sus raíces. Nuestra historia comenzó al
        tramitar nuestras propias ciudadanías europeas. La experiencia y
        aprendizajes de ese camino nos inspiraron a crear este proyecto, con el
        propósito de acompañarte paso a paso en tu propio proceso.
      </p>
      <p class="px-8 md:px-0 py-2 text-white md:my-6">
        <span class="font-semibold">Entendemos que cada caso es único y lo tratamos como si fuera propio.</span>
        Nos dedicamos a descubrir las historias familiares, encontrar los
        documentos clave y ser parte de este momento tan especial para vos.
      </p>
      <p class="px-8 md:px-0 py-2 text-white md:my-6">
        <span class="font-semibold">Para nosotros, esto no es solo un trámite.</span> Es un puente hacia tus
        orígenes, una conexión con tus raíces y el comienzo de nuevas
        oportunidades en el mundo. Queremos hacer que este recorrido sea más
        simple, llevadero y lleno de significado.
      </p>
    </div>
  </div>   
  </div>
</section>

<style>
  .fade {
    background-image: url("../../public/bg-us.svg");
    background-size: cover;
  }
</style>
