---
import CheckIcon from "./CheckIcon.astro";
import FormsIcon from "./FormsIcon.astro";
import ZoomIcon from "./ZoomIcon.astro";
import BookIcon from "../components/BookIcon.astro";
---

<section id="servicios">
  <div class="container-central text-center bg-background">
    <div class="py-16">
      <p class="font-bold text-primary text-sm md:text-lg">¿Cómo te podemos ayudar?</p>
      <h2 class="font-roboto font-bold text-3xl px-3 text-black md:text-4xl">
        Nuestros servicios
      </h2>
    </div>
    <div class="flex flex-col gap-6 pb-6 lg:grid-cols-2 lg:grid lg:place-items-center">    
      <div
      class="mx-3 bg-darkbg aspect-square max-w-[480px] px-4 py-6 flex flex-col items-center justify-center constellation"
    >
      <div class="my-4">
        <BookIcon />
      </div>
      <h3 class="font-roboto font-bold text-white text-xl mb-4">
        Carpetas para ciudadanía <br />Española e Italiana
      </h3>
      <p class="font-slab text-white/70 mb-4">
        Nos encargamos de preparar toda la documentación necesaria para que tu
          trámite sea exitoso.
      </p>
      <a
        href="/"
        class="px-6 py-2 border-[1px] border-primary hover:bg-primary font-semibold duration-500 text-white text-sm m-auto"
        >Leer más</a
      >

    </div>
      <div
      class="mx-3 bg-darkbg aspect-square max-w-[480px] px-4 py-6 flex flex-col items-center justify-center constellation"
    >
      <div class="my-4">
        <ZoomIcon />
      </div>
      <h3 class="font-roboto font-bold text-white text-xl mb-4">
        Búsqueda y apostillado de Actas
      </h3>
      <p class="font-slab text-white/70 mb-4">
        Localizamos esos documentos que parecen imposibles de encontrar y
        gestionamos su apostillado para que cumplan con los requisitos
        legales.
      </p>
      <a
        href="/"
        class="px-6 py-2 border-[1px] border-primary hover:bg-primary font-semibold duration-500 text-white text-sm m-auto"
        >Leer más</a
      >

    </div>
    <div
    class="mx-3 bg-darkbg aspect-square max-w-[480px] px-4 py-6 flex flex-col items-center justify-center constellation"
  >
    <div class="my-4">
      <FormsIcon />
    </div>
    <h3 class="font-roboto font-bold text-white text-xl mb-4">
      Preparación de Formularios Consulares
    </h3>
    <p class="font-slab text-white/70 mb-4">
      Te ayudamos a completar correctamente los formularios y anexos
      requeridos por los consulados..
    </p>
    <a
      href="/"
      class="px-6 py-2 border-[1px] border-primary hover:bg-primary font-semibold duration-500 text-white text-sm m-auto"
      >Leer más</a
    >
  </div>
  <div
  class="mx-3 bg-darkbg aspect-square max-w-[480px] px-4 py-6 flex flex-col items-center justify-center constellation"
>
  <div class="my-4">
    <CheckIcon />
  </div>
  <h3 class="font-roboto font-bold text-white text-xl mb-4">
    Gestión de Pasaporte y Renovaciones
  </h3>
  <p class="font-slab text-white/70 mb-4">
    Te asistimos en la obtención de tu pasaporte o su renovación,
    asegurando un proceso ágil y sin contratiempos.
  </p>
  <a
    href="/"
    class="px-6 py-2 border-[1px] border-primary hover:bg-primary font-semibold duration-500 text-white text-sm m-auto"
    >Leer más</a
  >
</div>
    
    </div>
  </div>
</section>

<style>
  .constellation {
    background: url("../../public/endless-constellation.svg");    
    background-size: 35%;
  }
</style>
