---
import Zoom from "./Zoom.astro"
---
<div class="p-4">
    <div class="flex w-full h-full group">
        <div class="bg-neutral-500 h-24 w-24 rotate-45 p-2 group-hover:rotate-[-135deg] duration-[2000ms]" >
            <div class="bg-neutral-800 h-24 w-24 top-3 group-hover:rotate-[270deg] duration-[2000ms] p-2">
                <div class="w-20 h-20 top-5 p-2 group-hover:scale-110 group-hover:rotate-[225deg] duration-1000 -rotate-45">
                    <Zoom strokeColor="Gold"/>
                </div>
            </div>
        </div>
       
        
    </div>
</div>
